mat-progress-spinner{
    transform: translate(-50%, -50%);
  }
  
  .loader-container{
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    z-index: 99;
    opacity: 0.8;
    margin-top: -8em;
  }
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.github-container{
    width: 50%;
    margin: 0 auto;
}
.user-container{
    margin: 0 auto;
}

.username{
margin-left: 6em;
}

.user-container:hover{
background-color: wheat;


}